
/******* App *****/

body {
  margin: 0;
  padding: 0;
}
.app {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .header {
    grid-area: 1 / 1 / 2 / 6; 
    width: 100%;
    height: 110px;
    margin: 0;
    background-color:#61120e;
    text-align: center;
  }

    .body { 
      grid-area: 2 / 1 / 6 / 6;  
      width: 100%; 
      height: 0px;
      font-family: Verdana;
    }
/******* HomePage *****/

  /* .home {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px solid #000000;
    }
    
    .nav { grid-area: 2 / 1 / 4 / 2; border: 2px solid #000000;}
    .order { grid-area: 4 / 1 / 6 / 2; border: 2px solid #000000;}
    .menu { grid-area: 2 / 2 / 6 / 6; border: 2px solid #000000; } */

    .home {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      }
      
      .nav { 
        grid-area: 1 / 1 / 3 / 2;
        text-align: center;
      }
        .nav option {
          background-color: #a5a79a;
          border: none;
          color: white;
          padding: 15px;
          font-size: 20px;
          cursor: pointer;
          outline: none;
        }
        .nav option:hover {
          background-color: white;
          color: #a5a79a;
        }

      .order { 
        grid-area: 3 / 1 / 5 / 2; 
        background-color: #a5a79a;
      }
      .menu { 
        grid-area: 1 / 2 / 5 / 6; 
        height: 500px; 
        overflow-y: scroll; 
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 20px;
      }

        .item-tile {
          width: 25%; 
          height: 200px; 
          border: 2px solid #000000; 
          margin-bottom: 60px;
          text-align: center;
        }

/******* OderContainer *****/

    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      border: 2px solid #000000;
      }
      
      .details1 { grid-area: 2 / 1 / 6 / 3; border: 2px solid #000000;}
      .form { grid-area: 2 / 3 / 6 / 5; border: 2px solid #000000;}

      .price{
        text-align: right;
      }

      .orderShow {
        width: 100%;
      }

      .quantity {
        padding: 10px; 
      }

      .orderForm {
        margin-left: auto;
        margin-right: auto;
      }

      .submit {
        text-align: center;
    }
/******* OderConfimation *****/
      
      .confirmation {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        border: 2px solid #000000;
        }
        
        .message { grid-area: 2 / 2 / 4 / 4; border: 2px solid #000000; }
        .details { grid-area: 4 / 1 / 6 / 3; border: 2px solid #000000;}
        .edit { grid-area: 4 / 3 / 6 / 5; border: 2px solid #000000;}

